/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	/**background: #E8E8E8 url(images/main-bg.png) repeat;*/
	background-color: #f0f0f0;
	font-family: 'Arvo', serif;
	font-size: 14px;
	/**color: #696969;*/
	color: #363636;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Arvo', serif;
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

#bullet li {
	margin: 0;
	padding: 0;
}



a {
	text-decoration: none;
	/*color: #8FBC8F; 1e85eb*/
	color: #1e85eb;
	font-weight: bold;
}

.container {
	display: flex;
    align-items: center;
}
.video {
	margin-right: 20px;
}
.text {
	max-width: 400px; /* Adjust as needed */
}

a:hover {
    color: red;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-top: 5px;
	margin-right: 30px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

video.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	overflow: hidden;
	max-width: 1000px;
	height: 100px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -3px;
	text-transform: lowercase;
	font-size: 64px;
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Search */

#search {
	float: right;
	width: 280px;
	padding: 0;
}

#search form {
	float: right;
	height: 41px;
	margin: 0;
	padding: 40px 40px 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	height: 35px;
	padding: 0px 10px;
	border: none;
	background: #636900;
	line-height: 35px;
	letter-spacing: 1px;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	max-width: 1000px;
	height: 70px;
	margin: 0 auto;
	padding: 0px;
	background-color: #FFFFFF;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #E1E1E1;
}

#menu a {
	display: block;
	height: 70px;
	margin: 0px 1px;
	padding: 0px 20px 0px 20px;
	line-height: 70px;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}

#menu .current_page_item a {
	background: url(images/menu-active-bg.jpg) repeat-x left top;
}

#menu a:hover {
	background: url(images/menu-active-bg.jpg) repeat-x left top;
}

/* Page */

#page {
	max-width: 920px;
	margin: 0px auto;
}

#page0 {
	max-width: 1000px;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	max-width: 520px;
	padding: 0px 20px;
}

.dropdown {
	display: table-cell;
	position: relative;
}

.dropdown_content {
	display: none;
    position: absolute;
	background: white;
}

.dropdown:hover .dropdown_content{
	display: block;
}

#sub_menu_item a{
	display: block;
	height: 35px;
	width: 70px;
	margin: 0px 1px;
	padding: 0px 20px 0px 20px;
	line-height: 35px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
}

.post {
	padding-bottom: 20px;
	border-bottom: 1px solid #BDBDBD;
}

.post .title {
	padding-bottom: 20px;
	letter-spacing: -1px;
	color: #000000;
}

.post .title a {
	border: none;
	color: #000000;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}



.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 330px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: url(images/img07.jpg) no-repeat left 14px;
	border-bottom: 1px solid #EFF4F5;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -1px;
	color: #95C500;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #7F7F81;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #95C500;
}

/* Calendar */



#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	max-width: 900px;
	height: 140px;
	margin: 0px auto;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	font-size: 14px;
	color: #3B1C11;
}

#footer a {
	text-decoration: underline;
	color: #3B1C11;
}

#about {
	overflow: hidden;
	max-width: 920px;
	margin: 20px auto 0px auto;
	padding: 40px 40px;
	background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
}

#about .title {
	padding-bottom: 0px;
	letter-spacing: -1px;
	color: #000000;
}

.page0-title {
	margin-left: 32px;
	padding-bottom: 0px;
	letter-spacing: -1px;
	color: #000000;	
}

#two-column {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
}

#two-column #video {
    flex: 1 1 40%;
    box-sizing: border-box;
}

#two-column #text {
	flex: 1 1 40%;
	box-sizing: border-box;
	padding-left: 20px;
}

#two-column #video video {
	display: block;
	object-fit: contain;
	object-position: center;
	top: 0%;
	transform: translateY(-5%);
}

@media (max-width: 1000px) {
    #two-column #video {
        flex: 1 1 100%;
    }

    #two-column #text {
        flex: 1 1 100%;
		padding-top: 6px;
		padding-left: 0px;
    }
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 5px 0px;
	border-top: 1px solid #EEEEEE;
}

.list-style1 a:hover {
	text-decoration: underline;
}

.list-style1 .first {
	border-top: none;
}

#banner {
	max-width: 1000px;
	height: 250px;
	margin: 0px auto;
}

#head_image img {
    width: 180px;
    float: left;
    width: 166px;
    height: 235px;
    object-fit: cover;
    margin-right: 30px;
}



#intro_text {
    float: left;
    margin: 10px;
    max-width: 780px;
}

#intro_text h1 {
    margin-bottom: 20px;
}

#intro_text p {
    margin-bottom: 1.2em;
    text-align: justify;
}

#contact {
    float: right;
    color: #666;
    margin-bottom: 10px;
}

/* 响应式设计 */
@media (max-width: 768px) {
    #head_image {
        float: none;
        margin: 0 auto 20px;
        text-align: center;
    }
    
    #intro_text {
        float: none;
        width: 100%;
    }
    
    #about img.alignleft {
        float: none;
        margin: 0 auto 20px;
        display: block;
    }
}